$def with (numero_1, numero_2, resultado)

<h2>Calculadora</h2>

<form method="post">
    <input type="number" name="numero_1" value="$numero_1">
    <input type="number" name="numero_2" value="$numero_2">

    <select name="operacion">
        <option value="sumar">Sumar</option>
        <option value="restar">Restar</option>
        <option value="multiplicacion">Multiplicar</option>
        <option value="dividir">Dividir</option>
        <option value="potencia">Potencia</option>
        <option value="raiz">Raíz</option>
        <option value="modulo">Módulo</option>
    </select>

    <button type="submit">Calcular</button>
</form>

<h3>Resultado: $resultado</h3>